/* ===================================== Welcome_Page-CSS ================================= */
.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top:7%;
}
.welcomeHead {
  font-family: Colfax Light;
  line-height: 23px;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.942857px;
  text-transform: uppercase;
  color: white;
}
.welcomeSubhead {
  font-family: Colfax Regular;
  line-height: 36px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  margin-top:5%;
  color: #ffffff;
}

.optionFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.optionFlex p {
  text-align: center;
  margin: 0;
}
.optionBox1 {
  flex: 1;
  display: none;
  justify-content: center;
}
.optionBox1 div {
  width: 318px;
  height: 63px;
  background-image: url("/img/optionBox.png");
}
.optionBox2 {
  flex: 1;
  display: none;
  justify-content: center;
}
.optionBox2 div {
  width: 370px;
  height: 63px;
  background-image: url("/img/optionBox2.png");
}
.optionText1 {
  font-family: Colfax Regular;
  font-size: 22px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.optionText2 {
  font-family: Colfax Regular;
  font-size: 22px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scatterlogin-button {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.scatterlogin-button button {
  background: white;
  border: 0px;
  color: black;
  text-transform: capitalize;
  width: 250px;
  height: 50px;
  font-weight: bold;
}

#scatter-not-installed{
  background: red;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  display: none;
  padding: 1% 0;
  border-radius: 6px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .optionFlex {
    flex-direction: column;
  }
  .optionBox1 .optionText {
    margin: 0 auto;
  }
  .optionBox2 .optionText {
    margin: 0 auto;
  }
}
