.wrapper{
    width: 90%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    background: black;
    color: white;
}

.top-section{
    display: flex;
    align-items: baseline;
    color: white;
    justify-content: space-between;
}

.top-section p{
    font-size: 32px;
    margin: 0px;
}

.top-section input,button{
    height: 50px;
    width: 250px;
    border: 0px;
    padding: 0px;
}

.top-section input{
    background: url("img/searchicon.png") no-repeat scroll 18px 18px;
    border: 0px;
    padding-left: 50px;
    background-color: white;
    color: black;
}


#mybusinessbtn{
    width: 250px;
    height: 51px;
    border: 0px;
    font-size: 14px;
    line-height: 15px;
    font-weight: bold;
    letter-spacing: 0.6px;
    background: transparent;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    border: 1px solid white;
}

#allbusinessbtn{
    width: 250px;
    height: 51px;
    border: 0px;
    color: white;
    font-size: 14px;
    line-height: 15px;
    font-weight: bold;
    letter-spacing: 0.6px;
    background: rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid white;
}

.scatterlogin{
    display: flex;
    justify-content: center;
}

.loginbtn{
    width: 250px;
    height: 51px;
    border: 0px;
    font-size: 14px;
    line-height: 15px;
    font-weight: bold;
    letter-spacing: 0.6px;
    background: transparent;
    box-shadow: 0px 0px 30px #ccc;
    text-transform: uppercase;
    cursor: pointer;
}
.exchange{
    display: none;
    justify-content: center;
    margin-top: 3%;
}

#exchangebtn{
    width: 250px;
    height: 51px;
    border: 0px;
    font-size: 14px;
    line-height: 15px;
    font-weight: bold;
    letter-spacing: 0.6px;
    background: transparent;
    border: 1px solid white;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
}

.business-section{
    margin-top: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.business-section .company{
    width: 300px;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 5%;
}

.company .company-name{
    font-size: 14px;
    margin-top: 10%;
    margin-left: 10%;
    font-weight: bold;
    letter-spacing: 0.6px;
    
}

.stockdetails{
    margin-left: 10%;
    display: flex;
}

.stockdetails .stockname{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    color: grey;
    line-height: 41px;
    font-size: 32px;
}

.stockdetails .stockvalue{
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    color: black;
    line-height: 41px;
    font-size: 32px;
    margin-left: 7%;
}
.company .stock-fluctation{
    margin: 10% 0 10% 10%;
    font-size: 16px;
}



.stock-fluctation{
    color: #FF2C45;
}

.stock-fluctation span{
    margin-left: 16px;
}

.new-business{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.new-businessbtn{
    width: 300px;
    height: 190px;
    border: 1px dashed #aaa;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-business p{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: bolder;
}

@media only screen and (max-width: 790px){
    .top-section{
        flex-direction: column;
    }

    .top-section .heading p{
        text-align: center;
    }

    .top-section .search-box input{
        margin-left: auto;
        margin-right: auto;
    }

    .top-section .my-business button{
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        margin-top: 3%;
    }

    .top-section .all-business button{
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        margin-top: 3%;
    }

    .business-section .business-section-top{
        flex-direction: column;
    }

    .business-section .company:nth-child(2){
        margin: 5% 0px 0px 0px;
    }

    .company{
        margin-top: 5%;
    }


    .business-section .business-section-bottom{
        flex-direction: column;
        margin: 0;
    }

    .new-business p{
        margin: 0;
        padding-top: 20%;
        padding-bottom: 20%;
    }
    
}

@media only screen and (max-width: 1250px){
    .top-section{
        flex-direction: column;
        align-items: center;
    }

    .top-section .heading p{
        text-align: center;
    }

    .top-section .search-box input{
        margin-left: auto;
        margin-right: auto;
    }

    .top-section .my-business button{
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        margin-top: 3%;
    }

    .top-section .all-business button{
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        margin-top: 3%;
    }

    .company .stock-price span{
        display: block;
        margin-left: 0%;
    }

    .stockdetails{
        flex-direction: column;
    }

    .stockdetails .stockvalue{
        margin-left: 0%;
    }
}
