<template name = "App_header">
    <div class="business-header">
        <div class="business-header-container">
            <div class="logo-section">
                <div class="logo">
                </div>
            </div>
            <div class="user-details">
                <div class="notifications"></div>
                <div class="username">
                    yeray rosales
                </div>
                <div class="profile-pic">

                </div>
            </div>
        </div>
    </div>
</template>