.new-business-container{
    max-width: 1140px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.new-business-form{
    margin-top: 10%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-business-form label{
    margin-top: 3%;
    font-size: 18px;
    text-transform: uppercase;
}

.new-business-form input{
    margin-top: 3%;
    width: 300px;
    height: 35px;
    background: black;
    color: white;
    border: 0;
    border-bottom: 1px solid white;
    text-align: center;
}

.new-business-form button{
    margin-top: 3%;
    background: black;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 6px;
}
 #token-symbol{
    text-transform: uppercase;
 }