@font-face {
    font-family: 'Colfax';
    font-weight: normal;
    font-style: normal;
    src:    url('fonts/Colfax-Regular.woff2') format('woff2'),
            url('fonts/Colfax-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Colfax Light';
    font-weight: 300;
    font-style: normal;
    src:    url('fonts/Colfax-Light.woff2') format('woff2'),
            url('fonts/Colfax-Light.woff') format('woff');
}

@font-face {
    font-family: 'Colfax Medium';
    font-weight: 500;
    font-style: normal;
    src:    url('fonts/Colfax-Medium.woff2') format('woff2'),
            url('fonts/Colfax-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Colfax Bold';
    font-weight: bold;
    font-style: normal;
    src:    url('fonts/Colfax-Bold.woff2') format('woff2'),
            url('fonts/Colfax-Bold.woff') format('woff');
}

