<template name="Site_Footer">

    <footer class="footer simple">

        <div class="container">

            <div class="row justify-content-between">

                <div class="col-6">

                    <h6 class="copyright">2018 &copy; Utopia</h6>

                </div>

                <div class="col-6">

                    <nav class="social text-right">

                        <a class="reddit" href="https://www.reddit.com/r/Utopialand" target="_blank"><i class="fab fa-reddit-alien"></i></a>
                        <a class="telegram" href="https://t.me/UtopiaCountry" target="_blank"><i class="fab fa-telegram-plane"></i></a>
                        <a class="twitter" href="https://twitter.com/utopialand1" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a class="github" href="https://github.com/utopialand/Utopia" target="_blank"><i class="fab fa-github"></i></a>
                        <a class="facebook" href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>

                    </nav>

                </div>

            </div>

        </div>

    </footer>

</template>
      