
.page.constitution {

    .page-header .btn.main {
        display: block;
        margin: 60px auto 80px auto;
        width: 240px;
    }

    .page-header .text b {
        font-family: 'Colfax Medium';
    }

}