.stvresult-container {
  max-width: 1440px;
  width: 90%;
  margin: 5% auto 0 auto;
  margin-bottom: 5%;
  color: white;
}

.winner-result-box {
  display: flex;
  align-items: center;
  border: 1px solid white;
}

.winner-result-name {
  flex: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 5%;
}
.winner-result-name div {
  margin: 5%;
  font-family: Colfax Medium;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  color: white;
  border: 1px solid white;
}
.winner-result-name h2 {
    margin-right:15%;
  }

.winner-result-count {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 5%;
}

.winner-result-count div {
    margin: 5%;
    font-family: Colfax Medium;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    color: white;
    border: 1px solid white;
}

.winner-result-info {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 5%;
}
.winner-result-info .total-votes {
    margin: 5%;
    font-family: Colfax Medium;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}
.winner-result-info h2 {
    margin-left:10%;
  }
.winner-result-info .total-votes:hover{
    background:white;
    color:black;
}

.names{
    color: white;
    background: red;
}