.result-container{
    width: 90%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    color: white;
}

.candidate{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 0px;
    height: 10px;
    color: white;
    font-family: Colfax Medium;
}
