.result-container{
    width: 90%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    color: white;
}

.candidate{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 0px;
    height: 10px;
    color: white;
    font-family: Colfax Medium;
}
<<<<<<< HEAD

#proposal-result{
    display: flex;
    justify-content: center;
    border: 1px solid white;
    padding: 3% 0;
}

#proposal-result-name{
    flex: 1;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 5%;
}

#proposal-result-votes{
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5%;
}

.ep{
    text-align: center;
    border: 1px solid white;
    width: 30%;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    text-transform: capitalize;
}

.ep2{
    text-align: center;
    border: 1px solid white;
    width: 30%;
    line-height: 25px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.vote-stat{
    width: 18%;
    text-align: center;
    border: 1px solid white;
}

=======
>>>>>>> 8110a9d7c2505204afebc8a071c7d5558c2c6e18
