.container {
  max-width: 1440px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.footerText {
  font-family: Colfaxn Regular;
  line-height: 19px;
  font-size: 18px;
  letter-spacing: 1px;
  display:flex;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top:5%;
  padding-bottom:5%;
}
