.real-estate-bid-container{
    width: 90%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.real-estate-bid-container h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.real-estate-bid-container .bidpropertyfield{
    background: black;
    width: 80%;
    color: white;
    border: 0;
    border-bottom: 1px solid white;

}

.real-estate-bid-container .bid-btn{
    background: skyblue;
    width: 80%;
    color: black;
    margin-top: 5%;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 6px;
}