.identity-container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 5%;
}

.holder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.holder-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}
.large {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  color: white;
}
.large h1{
  color:white;
}
.medium {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  /* color: white; */
}
.medium h1{
  color:white;
}
.small {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  color: white;
}
.small h1{
  color: white;
}
.largelist {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.mediumlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: white; */
}
.smalllist {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.redobudget button {
  flex: 1;
  margin-right: 2%;
}
.redobudget p {
  flex: 8;
}
.redobudget {
  margin-top: 10px;
  width: 60%;
  height: 70px;
  display: flex;
  align-items: center;
  color: white;
}

.budgetpropbutton {
  display:none;
  flex:1;
  margin-left:5%;
  width: 300px;
  height: 50px;
  border: 0;
  background-image: linear-gradient(to bottom, #3023ae, #c86dd7);
  color: white;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.stvvotingpage {
  display:none;
  flex:1;
  margin-left:5%;
  width: 300px;
  height: 50px;
  border: 0;
  background-image: linear-gradient(to bottom, #3023ae, #c86dd7);
  color: white;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}
.stvresultpage {
  display:none;
  flex:1;
  width: 300px;
  height: 50px;
  border: 0;
  background-image: linear-gradient(to bottom, #3023ae, #c86dd7);
  color: white;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

input:focus {
  outline: none;
}
.like-button {
  height: 80%;
  width: 100px;
  background-image: url("img/Vote1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  /* background: #04030F; */
}
.dislike-button {
  height: 80%;
  width: 100px;
  background-image: url("/img/Vote2.png");
  background-repeat: no-repeat;
}

.row3 button:hover {
  border: 2px solid #c86dd7;
  color: white;
  transition: 0.5s;
}

input:hover::-webkit-input-placeholder {
  color: white;
  transition: 0.5s;
}
