.budget-result-container{
    width: 90%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    color: white;
}

.budget-result-flex{
    display:flex;
    justify-content: space-between;
    /* flex-direction: column; */
    margin-top: 5%;
}
.budget-result-box{
    flex:1;
    display:flex;
    flex-direction: column;
    margin-top:5%;
    border:2px solid #ccc;
    text-transform: uppercase;
}

.budget-result-box p{
    font-family: Colfax Regular;
    font-size: 22px;
    line-height: 50px;
    text-transform: uppercase;
    display:flex;
    justify-content: center;
    color:black;
    background-color:gray;
    margin-top:0px;
    width:100%;
}
.small-proposal-read{
    display:flex;
    margin-top:0px;
    margin-bottom:5%;
    font-size: 12px;
    width:100%;
}