.proposal-container{
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}

h1{
    color: white;
    text-align: center;
}


.buybond-button{
    flex: 1;
    border: 0;
    background-image: linear-gradient(to bottom, #3023AE, #C86DD7);
    color: white;
    text-transform: uppercase;
    font-weight: bold;    
    height: 50px;
}



.proposal-container input{
    width: 30%;
    height: 40px;
    margin-top: 10px;
    background: #aaa;
}

.bond-group{
    display: flex;
    flex-direction: column;
    color: white;
}
.tabhead{
    display: flex;
    height: 50px; 
    border-radius: 2px;
    font-family: Colfax Medium;
    text-transform: uppercase;    
    color: black;
    margin-top: 5%;    
    width: 100%;
    align-items: center;
    background: white;
    background-image: linear-gradient(to bottom, #3023ae, #c86dd7);
}
.bondoption{
    flex: 1;
    text-align: center;
    font-size: 20px;
    }

.redobond{
    justify-content: center;   
    display: flex;
    margin-top: 2%;
    height: 50px;
    width: 100%;
    align-items: center;
    background: white;
    text-transform: uppercase;
}

.redobond div{
    flex: 1;
    font-family: Colfax Regular;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    color: black;
}






