.container {
  width: 90%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  background: black;
}

.header {
  display: flex;
}
.logoSection {
  flex: 6;
}
.logoSection .logo {
  width: 140px;
  height: 48px;
  background-image: url("/img/utopiaLogo.png");
  background-size: 100% 100%;
  cursor: pointer;
}

 .identityText {
  font-family: Colfax Black;
  line-height: 19px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 5%;
  cursor: pointer;
}
 .managerText {
  font-family: Colfax Black;
  line-height: 19px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 5%;
  cursor: pointer;
}

 .coupon {
  font-family: Colfax Black;
  line-height: 19px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 5%;
  cursor: pointer;
}
 .loanText {
  font-family: Colfax Black;
  line-height: 19px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 5%;
  cursor: pointer;
}

 .business-link{
  font-family: Colfax Black;
  line-height: 19px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 5%;
  cursor: pointer;
}
 .real-estate-link{
  font-family: Colfax Black;
  line-height: 19px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 5%;
  cursor: pointer;
}
.proposal{
  font-family: Colfax Black;
  line-height: 19px;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 5%;
  cursor: pointer;
}
.headLineBoundary{
  max-width: 100%;
  margin-top:3%;
  height: 1px;
  left: 0px;
  top: 160px;
  background: #FFFFFF;
  opacity: 0.25;
} 

/* strt */

 #menuToggle
 {
   display: block;
   position: relative;
   margin-top: 5px;
   margin-right: 5%;
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input
 {
   display: block;
   width: 35px;
   height: 32px;
   position: absolute;
   cursor: pointer;   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px; 
   position: relative;
   background: #cdcdcd;
   border-radius: 3px;   
   z-index: 1;   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   display: none;
   position: absolute;
   margin: 50px 0 0 -184px;  
   background: black;
   width: 300px;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin:0% 0%;
   transform: translate(100%, 0%);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
   color: white;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
   display: block;
 }
/* end */
.identitySectionman {
  flex: 4;
  display: none;
  justify-content: flex-end;
  
  
}

