.manager-container{
    max-width:1440px;
    width:90%;
    margin: 5% auto 0 auto;
    margin-bottom:10%;
    color:black;

}
.manager-container h1{
    font-family: Colfax Medium;
    letter-spacing: 1px;
    margin-bottom:5%;
}
.flexOption{
    display:flex;
}
.flexOption button{
    flex:1;
    display:flex;
    justify-content: center;
    align-content: center;
    height: 48px;
    text-transform: uppercase;
    font-weight: bold;
    cursor:pointer;
}
.flexOption button:hover{
    background:gray;
    transition: 0.5s;
}

.typeBudget{
    display:flex;
}
.typeBudget button{
    flex:1;
    margin:1%;
    height: 48px;
    border:0px;
    text-transform: uppercase;
    font-weight: bold;
    cursor:pointer;
}
.typeBudget button:hover{
    background:lightcoral;
    transition: 0.5s;
}


.manager-below-section{
    width: 100%;
    margin-top: 3%;  
}
.manager-all-proposals{
    width: 100%;
}
 

/* -------------------------Proposal------------------------------- */
.manager-proposal-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.delete-button{
    height: 50%;
    width: 100px;
    margin-right: 3%;
    border:0px;
    font-weight: bold;
    cursor: pointer;
    
}
.delete-button:hover{
    background:red;
    color:white;
    transition: 0.25s;
    opacity:0.75;
}
.declare-button{
    height: 50%;
    width: 200px;
    margin-right: 3%;
    border:0px;
    font-weight: bold;
    cursor: pointer;
}
.declare-button:hover{
    background:green;
    color:white;
    transition: 0.25s;
    opacity:0.75;
}

.manager-redo{
    margin-top: 10px;
    width: 100%;
    height: 70px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.manager-redo p{
    flex: 8;
}

.manager-redo button{
    flex: 1;
    margin-right: 2%;
}

.manager-delete-button{
    height: 50%;
    width: 100px;
}

.manager-declare-button{
    height: 50%;
    width: 100px;
}

.manager-redo p{
    margin-left: 3%;
}


/* -------------------------------USER-------------------------------------- */


.manager-user-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.approved-button{
    height: 50%;
    width: 100px;
    margin-right: 3%;
    border:0px;
    font-weight: bold;
    cursor: pointer;
}
.approved-button:hover{
    background:green;
    color:white;
    transition: 0.25s;
    opacity:0.75;
}
.disapproved-button{
    height: 50%;
    width: 200px;
    margin-right: 3%;
    border:0px;
    font-weight: bold;
    cursor: pointer;
}
.disapproved-button:hover{
    background:red;
    color:white;
    transition: 0.25s;
    opacity:0.75;
}

.manager-user-redo{
    margin-top: 10px;
    width: 100%;
    height: 70px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.manager-user-redo p{
    flex: 8;
}

.manager-user-redo button{
    flex: 1;
    margin-right: 2%;
}

.manager-aproved-button{
    height: 50%;
    width: 100px;
}

.manager-disapproved-button{
    height: 50%;
    width: 100px;
}

.manager-user-redo p{
    margin-left: 3%;
}