.result-container{
    width: 90%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    color: white;
}

.candidate{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 0px;
    height: 10px;
    color: white;
    font-family: Colfax Medium;
}

#proposal-result{
    display: flex;
    justify-content: center;
    border: 1px solid white;
    padding: 3% 0;
}

#proposal-result-name{
    flex: 1;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 5%;
}

#proposal-result-votes{
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5%;
}

.ep{
    text-align: center;
    border: 1px solid white;
    width: 30%;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    text-transform: capitalize;
}

.ep:hover{
    background: white;
    color: black;
    transition: 0.35s;
}

.ep2{
    text-align: center;
    border: 1px solid white;
    width: 30%;
    line-height: 25px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.vote-stat{
    width: 18%;
    text-align: center;
    border: 1px solid white;
}
<<<<<<< HEAD:dapp/Utopiaidentitydapp/imports/ui/stylesheets/result.css
.winnerbutton{
    margin-top:40px;
    height: 60px;
    width: 250px;
    color: white; font-family: Colfax Medium;
    color: white;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    line-height: 14px;
    background:#04030F;
  }
  
  .winnerbutton:hover{
    background: linear-gradient(169.59deg, #3023AE -36.97%, #C86DD7 148.62%);
  }
  .winner{
      display: flex;
      justify-content: center;
  }
  .namewinner{
      color: green;
  }
=======

#proposal-desc{
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Colfax Medium;
    letter-spacing: 2px;
}

#proposal-detail{
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Colfax Medium;
    letter-spacing: 2px;
}

>>>>>>> 5bf16c2fd0819c59a0c16e74dc4917732db8d6ec:dapp/identity/imports/ui/stylesheets/result.css
