.resulting-container{
    width: 90%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    color: white;
}
.resulting-container h1{
    color:white;
}

.candidate{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 0px;
    height: 10px;
    color: white;
    font-family: Colfax Medium;
}

#proposal-result{
    display: flex;
    justify-content: center;
    border: 1px solid white;
    padding: 3% 0;
}

#proposal-result-name{
    flex: 1;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 5%;
}

#proposal-result-votes{
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5%;
}

.ep{
    text-align: center;
    border: 1px solid white;
    width: 30%;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    text-transform: capitalize;
    color:white;
}

.ep:hover{
    background: white;
    color: black;
    transition: 0.35s;
}

.ep2{
    text-align: center;
    border: 1px solid white;
    width: 30%;
    line-height: 25px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

.vote-stat{
    width: 18%;
    text-align: center;
    border: 1px solid white;
}

.resulting-container .resultbox{
    width: 60%;
    margin: 4% auto 0 auto;
    color: white;
    border: 2px solid white;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    display: none;
}

.resulting-container .resultbox:hover{
    border: 2px solid #C86DD7;
    transition: 0.5s;
}

.resultbox .title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.resultbox .selected{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.resultbox .selected .options{
    background: transparent;
    color: white;
    width: 100px;
    height: 50px;
    display:flex;
    align-items: center;
    font-weight: bold;
    border: 2px solid white;
}

.resultbox .selected .options:hover{
    border: 2px solid #C86DD7;
    transition: 0.5s;
}

.selected .options .text{
    font-family: Colfax Medium;
    text-align: center;
    text-transform: uppercase;
}