body{
    padding: 0.1px;
    margin: 0px;
    color: white;
  }
  .header{
    width: 100%;
    height:88px;
    background: #04030F;
    overflow: hidden;
    display: flex;
  }
  .logo{
   /*  width: 90px;
    height: 32px; */
    /* background-image: url("/img/Logo.jpg");
    background-size: 100% 100%; */
    background: pink;
    flex:6;
    justify-content: center;
    align-items: center;
  }
  .left{
   flex: 4;
   display: flex;
   align-items: center;
   justify-content: center;
  }
  .name{
  flex: 6;
  font-size: 30px;
  margin-left: 100px;
  }
  .img{
flex: 4;
height: 100px;
width: 100px;
margin-top: 65px;
background-image: url("/img/Oval.jpg");
background-repeat: no-repeat;
 }
 .contributor{
   height:1932px ;
   width: 100%;
   display: flex;
   align-items: center;
 }
 .contripart{
  height:1643px ;
  width: 100%;
 }
 .contripart .sec1{
  display: flex;
  justify-content: center;
  align-items:center;
 }
 .contripart .sec1 .left{
  flex: 6;
  height: 51px;
  width: 150px;
font-family: Abhaya Libre;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 14px;
letter-spacing: 0.6px;
text-transform: uppercase;
color: #000000;

 }
 .contripart .sec1 .right{
   margin-right: 50px;
  display: flex;
   }
 .contripart .sec1 .right .webbutton{
  flex: 1;
  height: 52px;
  width: 164px;
background: linear-gradient(162.56deg, #29323C 0%, #485563 101.5%);
box-shadow: 5px 2px 60px rgba(0, 0, 0, 0.1);
border-radius: 6px;
font-family: Abhaya Libre;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 14px;
letter-spacing: 0.6px;
text-transform: uppercase;

color: #FFFFFF;


  }
  .contripart .sec1 .right .gitbutton{
  flex: 1;
  height: 51px;
  width: 202px;
font-family: Abhaya Libre;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 14px;
letter-spacing: 0.6px;
text-transform: uppercase;

color: #2C3540;


  }
 .contripart .sec2{
  margin-top: 72px;
  margin-left: 160px;
  height:170px ;
  width: 970px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.contripart .sec2 .left{
flex: 3;
height: 170px;
width: 170px;
background-image: url("/img/App Pic.jpg");
background-repeat: no-repeat;
}
.contripart .sec2 .right{
flex: 7;
}
.head{
font-family: Abhaya Libre SemiBold;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 32px;
color: #000000;

}
.contripart .sec2 .right .subpart{
font-family: Abhaya Libre ExtraBold;
font-style: normal;
font-weight: 800;
line-height: 28px;
font-size: 14px;
letter-spacing: 0.6px;

color: #000000;


}
.contripart .sec3{
  height:320px ;
  width: 100%;
  margin-left: 160px;
  display: flex;
  justify-content: center;
}
.contripart .sec3 .spending-block1 {
  background: #EEEEEE;
  flex: 1;
  border: 1px solid #979797;
  box-sizing: border-box;
  text-align: center;
  border-radius: 6px;
  margin-top: 96px;
  margin-left: 30px;
  line-height: 75px;
  font-size: 30px;
  height: 260px;
  width: 170px;
}
.contripart .sec3 .spending-block2 {
  background: #EEEEEE;
  flex: 1;
  border-radius: 6px;
  border: 1px solid #979797;
  box-sizing: border-box;
  margin-top: 96px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  height: 260px;
  width: 370px;
  margin-right: 30px;
}
.contripart .sec3 .text {
  margin-top: 270px;
  text-align: center;
  font-family: Colfax Medium;
  line-height: normal;
  font-size: 11.2px;
  letter-spacing: 0.84px;
  color: #09203f;
}
.contripart .sec3 .flex-container {
  display: flex;
  justify-content: center;
}

.contripart .sec4{
  height:245px ;
  width: 100%;
  background-image: url("/img/contri.jpg");
  background-repeat: no-repeat;
}
.contripart .sec4 .upper{
margin-top: 96px;
margin-left: 190px;
font-family: Abhaya Libre SemiBold;
font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 32px;

color: #000000;
}
.contripart .sec5{
  height:473px ;
  width: 1170px;
}
.sec5 .button{
background: #FFFFFF;
box-shadow: 5px 2px 60px rgba(0, 0, 0, 0.1);
border-radius: 6px;

font-family: Abhaya Libre;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 14px;
letter-spacing: 0.6px;
text-transform: uppercase;
color: #000000;
}
.sec5 .tabhead{
  
font-family: Abhaya Libre;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 16px;
letter-spacing: 0.6px;
text-transform: uppercase;

color: #000000;

mix-blend-mode: normal;
opacity: 0.25;

}
.sec5 .progress{
  background-image: url("/img/inprogress.jpg");
  background-repeat: no-repeat;
}
.sec5 .propose{
  background-image: url("/img/proposed.jpg");
  background-repeat: no-repeat;
}
.sec5 .propose{
  background-image: url("/img/planned.jpg");
  background-repeat: no-repeat;
}
.footer{
    width: 100%;
    height:83px;
    background: #080713;
    overflow: hidden;
    display: flex;
}
.footer .footer-left{
   flex: 7;
   display:flex;
   align-items: center;
}
.footer .copyright-text{
margin-left:135px;
font-family: Colfax Medium;
line-height: normal;
font-size: 18px;
letter-spacing: 1px;
text-transform: uppercase;

color: #FFFFFF;


}
.footer .footer-right{
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .fb{
  height: 18px;
  width: 18px;
  background-image: url('/img/Facebook.png');
  background-size: 100% 100%;
}
.footer .git{
  height: 18px;
  width: 18px;
  margin-left: 20px;
  background-image: url('/img/Github.png');
  background-size: 100% 100%;
}
.footer .shape{
  height: 18px;
  width: 18px;
  margin-left: 20px;
  background-image: url('/img/Shape.png');
  background-size: 100% 100%;
}
.footer .slack{
  height: 18px;
  width: 18px;
  margin-left: 20px;
  background-image: url('/img/Slack.png');
  background-size: 100% 100%;
}
.footer .twit{
  height: 18px;
  width: 18px; 
  margin-left: 20px;
  background-image: url('/img/Twitter.png');
  background-size: 100% 100%;
}