body{
    padding: 0px;
    margin: 0px;
    color: white;
  }
  .container{
    max-width: 1140px;
    width:90%;
    margin-left: auto;
    margin-right: auto;
  }
  .operate{
      padding-bottom: 10%;
      margin-top:10%;
      max-width: 100%;
      background: #04030F;
  }
  .headingos{
    margin: 0px;
    padding: 0px;
    font-family: Colfax Medium;
    line-height: 48px;
    font-size: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right:auto;
    color: #FFFFFF;
  }

  .headingos p{
    margin:0px;
    text-align: center;
  }
  .subdata{
    margin-top: 35px;
    font-family: Colfax Regular;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;


  }
  .git{
    display: flex;
    justify-content: center;
  }
  .gitbutton{
     margin-top: 80px;
     height: 51px;
     width: 255px; 
     background: linear-gradient(169.59deg, #3023AE -36.97%, #C86DD7 148.62%);
     box-shadow: 5px 2px 40px rgba(0, 0, 0, 0.2);
     border-radius: 6px;
     border: 0px;
    font-family: Colfax Medium;
    line-height: 12px;
    font-size: 14px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;



  }
  .maindata{
    flex: wrap;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
  .myutopia{
      flex: 1;
      width: 163px;
      background-image: url("/img/myutopia.png");
      background-repeat: no-repeat;
      background-size: 100% 160px;
  }
  
  .legal{
    flex: 1;
    width: 163px;
    background-image: url("/img/legal.png");
    background-repeat: no-repeat;
    background-size: 100% 160px;

}
.business{
  flex: 1;
  height: 250px;
  width: 163px;
  background-image: url("/img/business.png");
  background-repeat: no-repeat;
  background-size: 100% 160px;
}
.finance{
  flex: 1;
  height: 250px;
  width: 163px;
  background-image: url("/img/finance.png");
  background-repeat: no-repeat;
  background-size: 100% 160px;
}
.public{
  flex: 1;
  height: 250px;
  width: 163px;
  background-image: url("/img/servant.png");
  background-repeat: no-repeat;
  background-size: 100% 160px;
}
.education{
  height: 250px;
  width: 163px;
  background-image: url("/img/education.png");
  background-repeat: no-repeat;
  background-size: 100% 160px;
}
.real{
  height: 250px;
  width: 163px;
  background-image: url("/img/real.png");
  background-repeat: no-repeat;
  background-size: 100% 160px;
}
.emergency{
  height: 250px;
  width: 163px;
  background-image: url("/img/emergency.png");
  background-repeat: no-repeat;
  background-size: 100% 160px;
}
.voting{
  height: 250px;
  width: 163px;
  background-image: url("/img/voting.png");
  background-repeat: no-repeat;
  background-size: 100% 160px;
}
.utopians{
  height: 250px;
  width: 163px;
  background-image: url("/img/utopian.png");
  background-repeat: no-repeat;
  background-size: 100% 160px;
}
  .parentoval{
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      max-width: 90%;
  }
  .text{
      font-family: Colfax Medium;
      line-height: 24px;
      font-size: 16px;
      text-align: center;
      letter-spacing: 0.6px;
      text-transform: uppercase;

      color: #FFFFFF;
  }
.text2{
      margin-top: 120px;
      font-family: Colfax Medium;
      line-height: 48px;
      font-size: 32px;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;

      color: #FFFFFF;

  }
 .lowertext{
     margin-top: 50px;
  }
