body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Colfax Regular';
  src: url('/fonts/Colfax-Regular.tff');
  }
  
  @font-face {
  font-family: 'Colfax Regular Italic';
  src:url('/fonts/Colfax-RegularItalic.woff');
  }
  
  
  @font-face {
  font-family: 'Colfax Thin';
  src: url('/fonts/Colfax-Thin.woff');
  }
  
  
  @font-face {
  font-family: 'Colfax Thin Italic';
  src: url('/fonts/Colfax-ThinItalic.woff');
  }
  
  
  @font-face {
  font-family: 'Colfax Light';
  src:  url('/fonts/Colfax-Light.woff');
  }
  
  
  @font-face {
  font-family: 'Colfax Light Italic';
  src: url('/fonts/Colfax-LightItalic.woff');
  }
  
  
  @font-face {
  font-family: 'Colfax Medium';
  src:  url('/fonts/Colfax-Medium.woff');
  }
  
  
  @font-face {
  font-family: 'Colfax Medium Italic';
  src: url('/fonts/Colfax-MediumItalic.woff');
  }
  
  
  @font-face {
  font-family: 'Colfax Bold';
  src:  url('/fonts/Colfax-Bold.woff');
  }
  
  
  @font-face {
  font-family: 'Colfax Bold Italic';
  src: url('/fonts/Colfax-BoldItalic.woff');
  }
  
  
  @font-face {
  font-family: 'Colfax Black';
  src:url('/fonts/Colfax-Black.woff');
  }
  
  
  @font-face {
  font-family: 'Colfax Black Italic';
  src: url('/fonts/Colfax-BlackItalic.woff');
  }

@font-face {
  font-family: 'GoogleSans Bold';
  src:  url('/fonts/GoogleSans-Bold.tff');
  }
  
  
  @font-face {
  font-family: 'GoogleSans Bold Italic';
  src: url('/fonts/GoogleSans-BoldItali.tff');
  }
  
  
  @font-face {
  font-family: 'GoogleSans Italic';
  src:  url('/fonts/GoogleSans-Italic.tff');
  }
  
  
  @font-face {
  font-family: 'GoogleSans Medium';
  src: url('/fonts/GoogleSans-Medium.tff');
  }
  
  
  @font-face {
  font-family: 'GoogleSans Medium Italic';
  src:url('/fonts/GoogleSans-MediumItalic.tff');
  }
  
  
  @font-face {
  font-family: 'GoogleSans Regular';
  src: url('/fonts/GoogleSans-Regular.tff');
  }


  @font-face {
    font-family: 'LucidaGrande';
    src:url('/fonts/LucidaGrande.tff');
    }
    
    
    @font-face {
    font-family: 'LucidaGrande Bold';
    src: url('/fonts/LucidaGrandeBold.tff');
    }
  
  @font-face {
    font-family: 'brandon-grotesque-black';
    src: url('/fonts/brandon-grotesque-black.otf');
    }
    
    
    @font-face {
    font-family: 'brandon-grotesque-bold-italic';
    src:  url('/fonts/brandon-grotesque-bold-italic.otf');
    }
    
    
    @font-face {
    font-family: 'brandon-grotesque-light-italic';
    src: url('/fonts/brandon-grotesque-light-italic.otf');
    }
    
    
    @font-face {
    font-family: 'brandon-grotesque-light';
    src:url('/fonts/brandon-grotesque-light.otf');
    }
    
    
    @font-face {
    font-family: 'brandon-grotesque-medium-italic';
    src: url('/fonts/brandon-grotesque-medium-italic.otf');
    }
  
  
    @font-face {
      font-family: 'brandon-grotesque-regular-italic';
      src:url('/fonts/brandon-grotesque-regular-italic.otf');
      }
      
      
      @font-face {
      font-family: 'brandon-grotesque-thin-italic';
      src: url('/fonts/brandon-grotesque-thin-italic.otf');
      }
    
    