.lender-container {
    max-width: 1140px;
    width: 90%;
    margin: 5% auto 0 auto;
    color: white;
  }
.group{
    display: flex;
    justify-content: space-around;
}

.lenders-button{
    width: 255px;
    height: 50px;
    border: 0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
}
.paydata{
    display: flex;
    flex-direction: column;   
}

.createdata{
    display: flex;
    flex-direction: column;   
}
.lender-container label{
    margin-top: 5%;
    color: gray;
    font-size: 18px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.inputcatg{
    flex: 1;
    display: flex;
}
.paymenttype{
    flex: 1;
    display: flex;
}
.lender-container input{
    margin-top: 5%;
    background: transparent;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    font-family: Colfax Medium;
    color: white;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    line-height: 14px;
}

.lender-container input:hover{
    border-bottom: 2px solid white;
    transition: 0.5s;
}

.catgid{
display: flex;
}

.colatoptn{
    display: flex;
}
input[type=radio] {
    border: 0px;
    width: 100%;
    height: 2em;
}
input[type=checkbox] {
    border: 0px;
    width: 100%;
    height: 2em;
}
.colat{
    display: flex;
    flex-direction: column;  
}
.propid{
    display: flex;
}

.buttonproptlen{    
    height: 60px;
    width: 250px;
    color: white; 
    font-family: Colfax Medium;
    font-size: 18px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    line-height: 14px;
    background:gray;
    border-radius: 2px;
}
.buttonproptlen:hover{
    background: linear-gradient(169.59deg, #3023AE -36.97%, #C86DD7 148.62%);
}
.createpropt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
/* view detail */
.datalistlen{
    flex: 1;
    display: flex;
    margin-top: 1%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: white;
}
.listofuser{
    display: flex;
    flex-direction: column;
}
.listofstatus{
    display: flex;
    flex-direction: column;
}
.datalist2len{
    flex:1;
    display: flex;
    margin-top: 1%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: white;
}
.nonkey{
    text-align: center;
}
.headloanlen{
    flex: 1;
  font-family: Colfax Regular;
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  color: black;
}
.listlen{
    display: flex;
    margin-top: 5%;
    height: 50px;
    width: 100%;
    align-items: center;
    background: white;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #3023ae, #c86dd7);
    border-radius: 2px;
    
}
.datalen{
    display: flex;
    margin-top: 5%;
    height: 50px;
    width: 100%;
    align-items: center;
    background: white;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #3023ae, #c86dd7);
    border-radius: 2px;
}
.data2len{
    display: flex;
    margin-top: 5%;
    height: 50px;
    width: 100%;
    align-items: center;
    background: white;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #3023ae, #c86dd7);
    border-radius: 2px;
}
.mainheadlen{
    flex: 1;
    font-family: Colfax Medium;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    color: black;
}